<!-- Topbar Start -->
<div class="container-fluid bg-dark p-0">
	<div class="row gx-0 d-none d-lg-flex">
		<div class="col-lg-7 px-5 text-start">
			<div class="h-100 d-inline-flex align-items-center py-3 me-4">
				<small class="fas fa-mail-bulk fa text-primary me-2"></small>
				<small><a href="mailto:blackdog.educ@gmail.com" class="header-info__text">blackdog.educ@gmail.com</a></small>
			</div>
		</div>
		<div class="col-lg-5 px-5 text-end">
			<div class="h-100 d-inline-flex align-items-center py-3 me-4">
				<small class="fa fa-phone-alt text-primary me-2"></small>
				<small><a href="tel:+33666081875" class="header-info__text">+33 6 66 08 18 75</a></small>
			</div>
			<div class="h-100 d-inline-flex align-items-center">
				<a href="https://www.facebook.com/share/Roc4A3yDveaDY9Km/" class="btn btn-sm-square bg-white text-primary me-1">
					<i class="fab fa-facebook-f"></i>
				</a>
				{# <a href="" class="btn btn-sm-square bg-white text-primary me-1">
					<i class="fab fa-linkedin-in"></i>
				</a>
				<a href="mailto:blackdog.educ@gmail.com" class="btn btn-sm-square bg-white text-primary me-1">
					<i class='fas fa-mail-bulk fa'></i>
				</a> #}
			</div>
		</div>
	</div>
</div>
<!-- Topbar End -->
