# Utilisez le contrôleur frontal comme fichier d'index. Cela sert de solution de secours lorsque 
# les autres règles de réécriture/redirection échouent.
DirectoryIndex index.php

# Désactivation de MultiViews pour éviter la résolution non désirée de fichiers comme "/index" vers "/index.php"
<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    # Autorise la réécriture des URLs
    Options +SymLinksIfOwnerMatch
    RewriteEngine On

    # Redirection HTTP vers HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Détermine automatiquement la base pour le répertoire
    RewriteCond %{REQUEST_URI}::$0 ^(/.+)/(.*)::\2$
    RewriteRule .* - [E=BASE:%1]

    # Préserve l'en-tête HTTP_AUTHORIZATION supprimé par Apache
    RewriteCond %{HTTP:Authorization} .+
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%0]

    # Redirection pour éviter le contenu en double avec /index.php
    RewriteCond %{ENV:REDIRECT_STATUS} =""
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # Si le fichier demandé existe, le servir directement. Sinon, réécrire vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ %{ENV:BASE}/index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # Si mod_rewrite n'est pas disponible, redirige la page d'accueil vers index.php
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>

# Ajouter l'en-tête HSTS pour une sécurité stricte avec HTTPS
<IfModule mod_headers.c>
    Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
</IfModule>

