<!DOCTYPE html>
<html>
<head>
    <title>Vous avez reçue une nouvelle demande de contact</title>
</head>
<body>
    <strong>Name :</strong> {{ name }}<br>
    <strong>Phone Number :</strong> {{ number }}<br>
    <strong>Message :</strong>:<br> {{ message | nl2br }}<br>
    </body>
</html>